# IDE
.idea/


# Dependencies
node_modules/

# Build output
/dist
/dist-electron
/build

# Testing
/coverage

# Debug
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Electron specific
/release
*.log

# Cache
.npm
.eslintcache
